<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gala_darbs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <gala_darbs.Properties.Settings>
            <setting name="WriteandQuit" serializeAs="String">
                <value>wq</value>
            </setting>
            <setting name="Write" serializeAs="String">
                <value>w</value>
            </setting>
            <setting name="Quit" serializeAs="String">
                <value>q</value>
            </setting>
            <setting name="OpenFile" serializeAs="String">
                <value>o</value>
            </setting>
            <setting name="RTB_Background" serializeAs="String">
                <value>bg</value>
            </setting>
            <setting name="RTB_Foreground" serializeAs="String">
                <value>fg</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>fs</value>
            </setting>
            <setting name="FontName" serializeAs="String">
                <value>fn</value>
            </setting>
            <setting name="Curl" serializeAs="String">
                <value>curl</value>
            </setting>
            <setting name="Add" serializeAs="String">
                <value>add</value>
            </setting>
            <setting name="Save" serializeAs="String">
                <value>save</value>
            </setting>
            <setting name="Help" serializeAs="String">
                <value>help</value>
            </setting>
            <setting name="RTB_Background_Color" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="RTB_Foreground_Color" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="Def_FontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="Def_FontFam" serializeAs="String">
                <value>Ariel</value>
            </setting>
        </gala_darbs.Properties.Settings>
    </userSettings>
</configuration>